/Flipkat_Exercise/Flipkart/Flipkart_Login.xaml
/Flipkat_Exercise/Flipkart/Flipkart_Logout.xaml
/Flipkat_Exercise/Flipkart/Flipkart_ReadExcelFile.xaml
/Flipkat_Exercise/Flipkart/Flipkart_PerformAction.xaml
/Flipkat_Exercise/Framework/GetAppCredentials.xaml
/Flipkat_Exercise/Framework/GetTransactionData.xaml
/Flipkat_Exercise/Framework/InitAllApplications.xaml
/Flipkat_Exercise/Framework/InitAllSettings.xaml
/Flipkat_Exercise/Framework/KillAllProcesses.xaml
/Flipkat_Exercise/Framework/RetryCurrentTransaction.xaml
/Flipkat_Exercise/Framework/SetTransactionStatus.xaml
/Flipkat_Exercise/Others
/Flipkat_Exercise/Others/Create_Initial_Folders.xaml
/Flipkat_Exercise/Others/Send_Email.xaml
/Flipkat_Exercise/Main.xaml
/Flipkat_Exercise/Process.xaml